<h1>Index Page</h1>
<h2>Enter two sets of coordinates</h2>

<form action="/coordinates_set" method="post">

  <label for="queen-x">Queen X coordinate</label>
  <input type="number" name="queen-x">
  <label for="queen-y">Queen Y coordinate</label>
  <input type="number" name="queen-y">

  <label for="other-x">Other X coordinate</label>
  <input type="number" name="other-x">
  <label for="other-y">Other Y coordinate</label>
  <input type="number" name="other-y">

  <button type="submit">Submit Coordinates</button>
</form>
