.coord-input {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  font-size: 32px;
  text-align: center;
  margin: 20px auto;
}

.row1 {
  background-color: steelblue;
  text-align: center;
}

.row2 {
  background-color: seagreen;
  text-align: center;
}

button {
  width: 100%;
}
